{{extend 'templates/grandy1.html'}}
<div class="marg50 row">
	<div class="col-lg-9">
	<img src="{{=URL('static','images/z1.png')}}">
		<p>
			    上海众盈广告有限公司是一家互联网广告及网络营销方案提供商，有着非常丰富的网络广告和网络策划经验，为客户提供各种形式的网络广告投放服务。 上海众盈广告自2010年05月成立以来，成为万车网上海站的总代理，而后通过自身资源优势，与汽车探索、车主之家、百度、谷歌、360搜索、搜狗、搜搜等垂直媒体及搜索引擎平台进行了深入合作。</p>
			    <p>
    上海众盈广告依靠先进的互联网技术，科学规范的管理体制，高素质的人才团队，为广告商提供全方位的网络广告推广方式，使客户营销资源价值最大化。通过上海众盈广告平台，广告商可方便的了解到广告投放的各种准确的统计数据，可实时跟踪广告投放的效果，让客户可以感受到实实在在的广告效果！</p>
    <p>
    上海众盈目标：打造多方共赢营销平台，将大量优秀的网站集合在一起，为广告商提供优质高效的网络推广服务，在此基础上实现多方共赢。我们有足够的信心、足够的实力为广大客户提供优质的服务！
		</p>
	</div>
	<div class="col-lg-3">
	  <h3 class="title-in"><span>联系我们</span></h3> 
	  <p>
	  	
	  </p>
	</div>
</div>
<div class="marg50"></div>