{{extend 'templates/grandy1.html'}}
<div class="container marg50">
	<div class="row">
		<div class="col-lg-8">
<!-- pic carrousel -->		
		<script type="text/javascript">
			var tpj = jQuery;
			var revapi;
			tpj(document).ready(function() {
				revapi = tpj('.tp-banner').revolution({
					delay:4000,
					startwidth:900,
					startheight:400,
					hideThumbs:10,
					forceFullWidth:"off",
				});
				}); //ready
		</script>
		<script type="text/javascript" src="{{=URL('static','assets/rs-plugin/js/jquery.themepunch.plugins.min.js')}}"></script>
		<script type="text/javascript" src="{{=URL('static','assets/rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>
		
			<div class="tp-banner-container" style="">
				<div class="tp-banner" >
					<ul style="display:none;">
					{{for i in rows:}}
						{{if (i.product.image)  :}}

						<li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
							<img src="{{=URL('default/download',i.product.image)}}"  alt=""  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
							{{if (i.product.description_short) :}}
							<div class="tp-caption medium_bg_asbestos customin customout"
							data-x="15"
							data-y="215"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="500"
							data-start="1300"
							data-easing="Power4.easeOut"
							data-endspeed="500"
							data-endeasing="Power4.easeIn"
							data-captionhidden="on"
							style="z-index: 8">
								{{=i.product.description_long}}
							
							</div>
							{{pass}}

							{{else:}}
							<img src="{{=URL('default/download',rows[0].product.image)}}"  alt=""  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
							<div class="tp-caption medium_bg_asbestos customin customout"
							data-x="15"
							data-y="215"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="500"
							data-start="1300"
							data-easing="Power4.easeOut"
							data-endspeed="500"
							data-endeasing="Power4.easeIn"
							data-captionhidden="on"
							style="z-index: 8">
								{{=i.product.description_short}}
							</div>

							{{pass}}
						</li>
						{{pass}}     
 						{{pass}}
 					</ul>
				</div>
			</div> 

			<!-- end of carrousel -->
			<p>
				{{=XML(rows[0].product.description_long)}}
			</p>
			<!-- list of rooms -->
			<!-- list of rooms end -->
		</div> <!--end of col left -->

		<div class="col-lg-4">
			<div class="row">
				<form action="{{=URL('cart/add')}}" data-target="#cart">
				 	<div class="container marg25">
					<h3>{{=rows[0].product.name}}</h3>
					<h3>
				    {{=SELECT(*[OPTION(r.inventory.detail, ' ¥',r.inventory.best_price, _value=r.inventory.id, ) for r in rows],**dict(_name='id'))}}</h3>
				    <input type="submit" class="btn btn-success" id="addtocart" value="加入购物车"/>
					</div>
				</form>
				<script type="text/javascript">
					 $('#addtocart').click(function(event){
				        alert('谢谢惠顾，商品已加入购物车!');
				        // Do whatever else...
				    });
				</script>
				</div>
 
		      <p class="widget_text"><a href="{{=URL('default','cart',args=['show'])}}">{{=LOAD('default','cart/show',vars=dict(editable=request.function!='pay'),ajax=True,target='cart')}}</a>
		      </p>
		</div> <!--end of col right -->
	</div> <!--end of row -->
</div>	
<div class="container marg50">
</div>
<script>
jQuery(function(){
  jQuery('[data-target]').each(function(){var t=jQuery(this); t.submit(function(){ jQuery.post(t.attr('action'),t.serialize(),function(data){jQuery(t.attr('data-target')).html(data);}); return false; }); });
  jQuery('.toggable').each(function(){var t=jQuery(this); jQuery('<button class="btn btn-info">More</button>').insertBefore(t).click(function(){t.slideToggle();});});
});
</script>