{{extend 'templates/giveaway.html'}}
<div class="container marg50">
	<div class="row">
		<div class="col-lg-7">
<!-- pic carrousel -->		
		<script type="text/javascript">
			var tpj = jQuery;
			var revapi;
			tpj(document).ready(function() {
				revapi = tpj('.tp-banner').revolution({
					delay:4000,
					startwidth:400,
					startheight:600,
					hideThumbs:10,
					forceFullWidth:"off",
				});
				}); //ready
		</script>
		<script type="text/javascript" src="{{=URL('static','assets/rs-plugin/js/jquery.themepunch.plugins.min.js')}}"></script>
		<script type="text/javascript" src="{{=URL('static','assets/rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>
		
			<div class="tp-banner-container" style="">
				<div class="tp-banner" >
					<ul style="display:none;">
					{{for i in rows:}}
						{{if (i.inventory.image) :}}

						<li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
							<img src="{{=URL('default/download',i.inventory.image)}}"  alt=""  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
							{{if (i.product.description_short) :}}
							<div class="tp-caption medium_bg_asbestos customin customout"
							data-x="15"
							data-y="215"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="500"
							data-start="1300"
							data-easing="Power4.easeOut"
							data-endspeed="500"
							data-endeasing="Power4.easeIn"
							data-captionhidden="on"
							style="z-index: 8">
								{{=i.product.description_short}}
							
							</div>
								{{pass}}
						</li>
						{{else:}}
						<li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
							<img src="{{=URL('default/download',i.product.image)}}"  alt=""  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
							{{if (i.product.description_short) :}}
							<div class="tp-caption medium_bg_asbestos customin customout"
							data-x="15"
							data-y="215"
							data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="500"
							data-start="1300"
							data-easing="Power4.easeOut"
							data-endspeed="500"
							data-endeasing="Power4.easeIn"
							data-captionhidden="on"
							style="z-index: 8">
								{{=i.product.description_short}}
							
							</div>
								{{pass}}
						</li>

						{{pass}}     
 					{{pass}}
 					</ul>
				</div>
			</div> 

			<!-- end of carrousel -->
			<p>
				{{=XML(rows[0].product.description_long)}}
			</p>
			<!-- list of rooms -->
			<!-- list of rooms end -->
		</div> <!--end of col left -->

		<div class="col-lg-5">
			<div class="row">
				 	<div class="container marg25 col-lg-10">
					<h3>{{=rows[0].product.name}}</h3>
					<h3>
					<ul>
					{{ for r in rows:}}
						<li><a href="{{=URL('checkout',args=r.inventory.id)}}">{{=r.inventory.detail}}</a></li>
						{{pass}}
					</ul>
				    </h3>
					</div>
				</div>
 
		  		</div> <!--end of col right -->
	</div> <!--end of row -->
</div>	
<div class="container marg50">
</div>
